        <footer>
            <div class="container">
                <!-- Copyright {{ data.author }}, <%= new Date().getFullYear() %>.-->
            </div>
        </footer>
        <script type="text/javascript" src="/static/js/dependencies.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
