<div class="col-md-4">
    <h1>Recent Posts</h1>
    {{#each recent_posts}}
    <p><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></p>
    {{/each}}
    <section id="github-profile">
    </section>
    <h4>My GitHub repositories</h4>
    <ul id="github-repos">
        <li>Loading repositories...</li>
    </ul>
</div>
