{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Whoops, that page doesn't seem to exist</h1>
            <p>You might want to go back to <a href="/">the home page</a></p>
        </div>
    </div>
</div>
{{> footer }}
