{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
{{#each posts}}
            <h4><a href="{{ this.meta.permalink }}">{{ this.meta.title }}</a></h4>
{{/each}}
        </div>
    </div>
</div>

{{> footer }}
