{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Category: {{category}}</h1>
{{#each posts}}
            <h2><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></h2>
{{/each}}
            <p><a href="rss.xml">RSS</a> | <a href="atom.xml">Atom</a></p>
        </div>
        {{> sidebar }}
    </div>
</div>

{{> footer }}
