{{> header }}

{{#each posts}}
<div class="container">
    <article class="post">
        <h1>{{ this.meta.title }}</h1>
        {{{ this.post.content }}}
    </article>
</div>
{{/each}}

{{> footer }}
