{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <h1>{{capitalize meta.title}}</h1>
                {{{ post.content }}}
            </article>
        </div>
        {{> sidebar }}
    </div>
</div>

{{> footer }}
