{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="post">
                <h1>{{ meta.title }}</h1>
                {{{ post.content }}}
            </article>
        </div>
    </div>
</div>

{{> footer }}
